.nav-parent {
    height: 100vh;
    background-color: #1c204d;
}

.main-container{
    position: absolute;
    height: 100vh;
}

.home-container{
    position: relative;
    height: 100vh;
    text-align: center;
    color: aliceblue;  
}

.techsphere-container{
    position: relative;
    height: 100vh;
    
}
.home-parent {
    padding-top: 20%;
}

.skills-bar {
    height: 100vh;
    
}
.skillsprogress{
    float: left;
    width:70%;
    padding-left: 25px;
    padding-top: 25px;    
}
.Avatar-container{
    float: left;
    width: 50px;
}
.logo-name{
    color: rgb(2, 2, 2);
    text-size-adjust: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}
